// colors
$primary-white: #fff;
$primary-blue: #2bd0d0;
$primary-blue-light: #9ae3e3;
$text-color: #9e9aa8;
$footer-background-color: #232127;
$secondary-text-colot: #34313d;
$background-color: #3a3054;

// fonts
$main-font-family: "poppins", Arial, sans-serif;
$main-font-size: 2.2rem;
